* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background-image: url(../img/world-outline-map.jpg);
  background-repeat: no-repeat;
}

.country-in-fire {
  position: absolute;
  top: 140px;
  left: 950px;
  width: 400px;
  height: 80px;
  background-image: url(../img/fire.svg);
  background-size: contain;  
}

#search-box {
  display: block;
  margin: 150 auto;
  font: inherit;
  padding: 8px;
  width: 320px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 2px solid #212121;
}

#search-box:focus {
  border: 3px solid #212121;
}

.country-list {
  padding: 8px;
}
.country-item {
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 450;
}
.country-item__flag {
  text-align: center;
  max-width: 60px;
  max-height: 35px;
}

.country-info__flag {
  max-width: 40px;
  margin-right: 10px;
}
.country-info__name {
  display: inline-block;
}

.country-info__list {
  margin: 0;
}
.country-info__item {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 10px;
}
.country-info__tag {
font-weight: bold;
font-size: 25px;
}

.country-info__value {
  font-size: 25px;
  font-weight: 400;
}